body{
    background-color: rgb(250, 196, 221);
}

p{
    color: hsl(323, 94%, 79%);
}
H1 {
    font-style: ;
    color: mediumvioletred;
}

.diva {
    color: hsl(323, 94%, 79%)
    font-size: ;
}


.mor{
    width: 50%;
}