body{
    background-color: rgb(255, 220, 237);
}

p{
    color: rgb(252, 88, 170);
}
H1 {
    font-style: ;
    color: mediumvioletred;
}

.diva {
    color: rgb(250, 101, 200);
    font-size: ;
}


.mor{
    width: 50%;
}